h1 {
    font-size: 32px;
    text-align: center;
    color: rgb(230, 17, 105);
}

h2{
    font-size: 24px;
    color: blueviolet;

}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    background-color: blue;
    border-left: 4px solid #0077B5;
}